@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.soraFont {
    font-family: 'Sora', sans-serif;
  } 
  
  .comfortaFont {
    font-family: 'Comfortaa', sans-serif;
  }
.lucide{
    color: #781E9F;
}

